@import "https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css";

body {
    text-align: center;
}

.fill {
    background-color: lightgray;
    display: inline-block;
    width: 200px;
    justify-content: center;
}

input {
    display: inline-block;
    text-align: center;
    width: 200px;
}

header {
    background-color: rgb(77, 77, 242);
    color: white;
    width: 200px;
    display: inline-block
}

#bookmark {
    background-color: rgb(241, 52, 52);
    color: white;
    width: 200px;
    display: inline-block
}